.headerNav {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  align-items: start;
}

.headerNav a {
  font-size: 16px;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f9;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-size: 16px;
  background-color: white;
  color: black;
}

td {
  font-size: 16px;
  border-bottom-width: 1px;
  line-height: 1.6;
  font-weight: 400;
  color: rgb(33, 37, 41);
}

.table-wrapper {
  overflow-x: auto;
  .table-list {
    border-bottom: 2px solid black;
  }
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}
tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
